* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.button-base, .button-base-icon {
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 2px;
  background-color: #ec5964;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Montserrat", sans-serif;
  font-size: .9em;
  color: #FFF;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;
}

.button-base-icon {
  height: 40px;
  width: 50px;
  border-radius: initial;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

.input-base, .input-base-aux, .input-date, .input-radio {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 2px;
  background-color: lightgray;
  color: #43444a;
  font-size: 1em;
  padding-left: 20px;
}

.input-base-aux {
  width: 200px;
  height: 40px;
  border-radius: initial;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}

.input-date {
  display: flex;
}

.input-radio {
  background-color: initial;
  display: flex;
  align-items: center;
}

.navbar-info {
  width: 100%;
  height: 35px;
  background-color: #082b3f;
}

.navbar-info__contnr-into {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: inherit;
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.navbar-info__info-contact-basic {
  display: flex;
  align-items: center;
}

.navbar-info__icon-contact, .navbar-info__icon-sm {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.navbar-info__txt-info-contact {
  font-family: "Lato", sans-serif;
  font-size: .74em;
  color: #FFF;
  margin-right: 12px;
}

.navbar-info__info-contact-sm {
  display: flex;
  align-items: center;
}

.navbar-info__contnr-icon {
  height: 35px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-info__contnr-icon:hover {
  background-color: #0283fb;
  cursor: pointer;
}

.navbar-info__icon-sm {
  margin: initial;
}

.header-main {
  width: 100%;
  height: 80px;
  background-color: #FFF;
}

.header-main__contnr-into {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  height: inherit;
}

.header-main__img-logo {
  width: 175px;
}

.header-main__navbar {
  display: flex;
}

.header-main__menu {
  list-style: none;
  display: flex;
  margin-right: 20px;
}

.header-main__items {
  font-family: "Montserrat", sans-serif;
  font-size: .95em;
  display: flex;
  align-items: center;
  margin-left: 5px;
  margin-right: 5px;
  padding-left: 8px;
  padding-right: 8px;
  cursor: pointer;
}

.header-main__link, .header-main__link-active {
  text-decoration: none;
  color: #43444a;
}

.header-main__link-active {
  font-weight: 600;
  color: #ec5964;
}

.hero {
  width: 100%;
  height: 300px;
  position: relative;
}

.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center top;
}

.hero__contnr-delay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: inherit;
  background-color: rgba(8, 43, 63, 0.3);
  width: 100%;
}

.hero__contnr-txt {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
}

.hero__title-txt {
  color: #FFF;
  margin-bottom: 24px;
  font-size: 2.5em;
}

.hero__box-nav {
  height: auto;
  width: auto;
  background-color: #FFF;
  display: block;
  padding: 20px 28px;
  font-size: .9em;
  color: #43444a;
  border-top-left-radius: 1px;
  border-top-right-radius: 1px;
}

.hero__folder-txt {
  color: #082b3f;
}

.hero__arrow {
  font-weight: normal;
  font-size: 16px;
}

.hero__active-txt {
  color: #ec5964;
  font-weight: normal;
}

.services {
  width: 100%;
  background-color: #FFF;
  height: 250px;
}

.services__contnr-into {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  background-color: #FFF;
}

.services__item {
  width: 300px;
  height: auto;
}

.services__contnr-icon {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #5e9d6f;
  float: left;
}

.services__item-icon {
  width: 70%;
  height: 70%;
  object-fit: cover;
  object-position: center;
}

.services__item-detail {
  float: right;
  width: 60%;
  height: auto;
  font-family: "Montserrat", sans-serif;
  margin-top: 16px;
}

.services__item-title {
  font-size: 1em;
  font-weight: 500;
  color: #ec5964;
  margin-bottom: 10px;
}

.services__item-descrp {
  font-size: .95em;
  color: #43444a;
  float: right;
}

.form-register {
  width: 100%;
  height: auto;
  background-color: grey;
}

.form-register__contnr-into {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  padding-top: 100px;
}

.form-register__form {
  padding-bottom: 100px;
}

.form-register__form-title {
  font-family: "Montserrat", sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 30px;
}

.form-register .input-date {
  font-family: "Montserrat", sans-serif;
}

.form-register .input-radio {
  border: 1px solid lightgray;
  font-family: "Montserrat", sans-serif;
}

.form-register .input-radio p {
  margin-right: 20px;
}

.form-register .input-radio label {
  margin-right: 20px;
}

.form-register .button-base, .form-register .button-base-icon {
  margin-left: auto;
  margin-right: auto;
}

select {
  border: 2px solid green;
}

.footer {
  width: 100%;
  height: auto;
  background-color: #082b3f;
  font-family: "Montserrat", sans-serif;
}

.footer__contnr-into {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: inherit;
  background-color: #082b3f;
  background-color: #082b3f;
  padding-bottom: 20px;
}

.footer__header {
  margin-bottom: 60px;
  padding-top: 50px;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  width: 175px;
}

.footer__form-search {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__form-search input {
  width: 270px;
  height: 45px;
}

.footer__form-search button {
  height: 45px;
  width: 55px;
}

.footer__form-search button:nth-of-type(1) {
  margin-right: 20px;
}

.footer__form-search .button-base-icon:nth-of-type(1) {
  background-image: url("../images/icons/icon-search-300px.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.footer__form-search .button-base-icon:nth-of-type(2) {
  background-image: url("../images/icons/icon-arrow-300px.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.footer__section-info {
  display: flex;
  justify-content: space-between;
}

.footer input {
  background-color: #FFF;
}

.footer__txt-info-title {
  font-size: 1.2em;
  color: #FFF;
  margin-bottom: 32px;
}

.footer__menu-second {
  list-style: none;
  margin-left: 10px;
}

.footer__menu-item {
  margin-bottom: 16px;
  color: lightgray;
}

.footer__txt-title-menu {
  margin-bottom: 10px;
}

.footer__contnr-item-lc {
  display: flex;
}

.footer__contnr-item-lc:nth-of-type(1) {
  margin-bottom: 32px;
}

.footer__img-lc {
  width: 80px;
  height: 80px;
  border-radius: 2px;
  background-color: #FFF;
  margin-right: 24px;
}

.footer__txt-location-lc {
  font-size: .95em;
  color: #FFF;
  margin-bottom: 6px;
}

.footer__txt-date-lc {
  font-size: .85em;
  margin-bottom: 16px;
  color: lightgray;
}

.footer__txt-price-lc {
  color: #ec5964;
  font-size: 1em;
}

.footer__contnr-item-cg {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  grid-gap: 10px;
}

.footer__item-gallery-cg {
  background-color: #FFF;
  border-radius: 4px;
}

.footer__contnr-item-cd {
  display: flex;
  flex-direction: column;
}

.footer__contnr-info-cd {
  display: flex;
  margin-bottom: 20px;
}

.footer__link-contact-sm {
  display: flex;
}

.footer__icon-contact-sm {
  width: 18px;
  height: 18px;
  margin-right: initial;
}

.footer__contnr-info-cd:last-child {
  display: flex;
  justify-content: space-between;
  width: 40%;
  margin-bottom: initial;
}

.footer__copyright {
  padding: 10px 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lato", sans-serif;
  color: #FFF;
  font-size: .95em;
}

.icon-cd {
  display: flex;
}

.txt-cd {
  margin: initial;
}

details p {
  margin-left: 16px;
  margin-bottom: 6px;
}

.form-register__form {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.form-register {
  background-color: #F9F3FC;
}

.form-register .input-base, .form-register .input-base-aux, .form-register .input-date, .form-register .input-radio {
  width: 100%;
  height: auto;
}

.form-register__form-item {
  width: 100%;
  height: auto;
  display: flex;
}

.form-register__form-item:nth-of-type(1) {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.form-register__form-item:nth-of-type(2) {
  grid-column: 2 / span 1;
  grid-row: 1 / span 1;
}

.form-register__form-item:nth-of-type(3) {
  grid-column: 3 / span 1;
  grid-row: 1 / span 1;
}

.form-register__form-item:nth-of-type(4) {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
}

.form-register__form-item:nth-of-type(5) {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}

.form-register__form-item:nth-of-type(6) {
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}

.form-register__form-item:nth-of-type(7) {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
}

.form-register__form-item:nth-of-type(8) {
  grid-column: 3 / span 1;
  grid-row: 3 / span 1;
}

.form-register__form-item:nth-of-type(9) {
  grid-column: 1 / span 2;
  grid-row: 4 / span 1;
}

.form-register__form-item:nth-of-type(10) {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}

.form-register__form-item:nth-of-type(11) {
  grid-column: 2 / span 1;
  grid-row: 5 / span 1;
}

.form-register__form-item:nth-of-type(12) {
  grid-column: 3 / span 1;
  grid-row: 5 / span 1;
}

.form-register__form-item:nth-of-type(13) {
  grid-column: 1 / span 3;
  grid-row: 6 / span 1;
}

@media only screen and (max-width: 600px) {
  .navbar-info__contnr-into {
    display: none;
  }
  .header-main {
    border: 1px solid green;
  }
  .header-main__navbar {
    display: none;
  }
  .services {
    height: auto;
  }
  .services__contnr-into {
    display: grid;
    grid-template-rows: repeat(3, auto);
    grid-template-rows: auto;
    justify-content: center;
    grid-gap: 50px 0;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .services__item {
    display: flex;
    flex-direction: column;
    height: auto;
    align-items: center;
  }
  .services__item-icon, .services__item-detail {
    text-align: center;
  }
  .footer__header {
    flex-direction: column;
  }
  .footer__form-search {
    flex-direction: column;
  }
  .footer__section-info {
    flex-direction: column;
  }
  .form-register__form {
    max-width: 600px;
  }
  .form-register .input-radio {
    display: flex;
    flex-direction: column;
  }
  .form-register__form {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(3, minmax(50px, 175px));
    grid-template-rows: repeat(6, 1fr);
  }
}
