* {
  padding: 0;
  margin: 0; }

.button {
  width: 160px;
  height: 44px;
  border-radius: 2px;
  background-color: #ec5964;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: "SegoeUI", sans-serif;
  font-size: .8em;
  color: #FFF;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: 0.4px;
  text-decoration: none; }

.navbar-info {
  width: 100%;
  height: 35px;
  background-color: #082b3f; }
  .navbar-info__contnr-into {
    background-color: inherit;
    width: 80%;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto; }
  .navbar-info__info-contact-basic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navbar-info__icon-contact, .navbar-info__icon-sm {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFF;
    margin-right: 6px; }
  .navbar-info__txt-info-contact {
    font-family: "SegoeUI", sans-serif;
    font-size: .7em;
    color: #FFF;
    margin-right: 12px; }
  .navbar-info__info-contact-sm {
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .navbar-info__contnr-icon {
    width: 53px;
    height: 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .navbar-info__contnr-icon:hover {
      background-color: #0283fb;
      cursor: pointer; }
  .navbar-info__icon-sm {
    margin: initial; }

.header-main {
  width: 100%;
  height: 80px;
  background-color: #FFF; }
  .header-main__contnr-into {
    width: 100%;
    max-width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    height: inherit;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border: 1px solid greenyellow; }
  .header-main__img-logo {
    width: 160px;
    height: 50px;
    background-color: green;
    border-radius: 4px; }
  .header-main__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .header-main__menu {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 20px; }
  .header-main__items {
    font-family: "SegoeUI", sans-serif;
    color: #43444a;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer; }

.hero {
  background-color: orange;
  width: 100%;
  height: 300px; }
  .hero__image {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center;
    object-position: center; }
