.button-base {
  width: 160px;
  height: 45px;
  border: none;
  border-radius: 2px;
  background-color: #ec5964;

  @include content-center-fb;
  font-family: $Font1;
  font-size: 1em;
  color: #FFF;
  letter-spacing: 0.5px;
  text-decoration: none;
  cursor: pointer;

  &-icon {
    @extend .button-base;
    height: 40px;
    width: 50px;
    border-radius: initial;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
  }
}