.footer {
  @include max-width-page;
  height: auto;
  background-color: $color-primary;
  font-family: $Font1;

  &__contnr-into {
    @include max-width-contnr;
    @include contnr-center;
    height: inherit;
    background-color: $color-primary;
    background-color: $color-primary;
  }

  // form btts
  &__header {
    margin-bottom: 60px;
    padding-top: 50px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 150px;
    height: 60px;
    border: none;
    border-radius: 2px;
    background-color: #FFF;
  }

  &__form-search {
    display: flex;
    align-items: center;
    justify-content: center;
    
    input {
      width: 270px;
      height: 45px;
    }

    button {
      height: 45px;
      width: 55px;
    }

    button:nth-of-type(1) {
      margin-right: 20px;
    }

  }

  &__section-info {
    display: flex;
    justify-content: space-between;
  }

  input {
    background-color: #FFF;
  }


  // similar 
  &__item-info {
    // border: 1px solid green;
  }

  &__txt-info-title {
    font-size: 1.3em;
    color: #FFF;
    margin-bottom: 32px;
  }
  ///



  // item 1
  &__menu-second {
    list-style: none;
    margin-left: 10px;
  }

  &__menu-item {
    margin-bottom: 16px;
    color: lightgray;
  }

  &__txt-title-menu {
    margin-bottom: 10px;
  }



  // item 2
  &__contnr-item-lc {
    display: flex;
  }
  
  &__contnr-item-lc:nth-of-type(1) {
    margin-bottom: 32px;
  }

  &__img-lc {
    width: 85px;
    height: 85px;
    border-radius: 2px;
    background-color: #FFF;
    margin-right: 24px;
  }

  &__txt-location-lc {
    font-size: 1em;
    color: #FFF;
    margin-bottom: 6px;
  }

  &__txt-date-lc {
    font-size: 1em;
    margin-bottom: 16px;
    color: lightgray;
  }

  &__txt-price-lc {
    color: $color-second;
    font-size: 1.2em;
  }



  // Item 3
  &__contnr-item-cg {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    grid-gap: 10px;
  }

  &__item-gallery-cg {
    background-color: #FFF;
    border-radius: 4px;
  }


  // Item 4

  &__contnr-item-cd {
    display: flex;
    flex-direction: column;
  }

  &__contnr-info-cd {
    display: flex;
    margin-bottom: 20px;

  }
  
  &__contnr-info-cd:last-child {
    // border: 1px solid green;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    width: 80%;
  }
}

.icon-cd {
  display: flex;
}

.txt-cd {
  margin: initial;
  // display: inline-block;
}


details p {
  margin-bottom: 6px;
  margin-left: 16px;
}