.header-main {
  @include max-width-page;
  height: 80px;
  background-color: $color-white;

  &__contnr-into {
    @include max-width-contnr;
    @include contnr-center;
    @include contnt-sbtw-center;
    background-color: $color-white;
    height: inherit;
  }

  &__img-logo {
    width: 175px;
  }

  &__navbar {
    display: flex;
  }

  &__menu {
    list-style: none;
    display: flex;
    margin-right: 20px;
  }

  &__items {
    font-family: $Font1;
    font-size: .95em;
    display: flex;
    align-items: center;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 8px;
    padding-right: 8px;
    cursor: pointer;
  }

  &__link {
    text-decoration: none;
    color: $color-txt;
    &-active {
      @extend .header-main__link;
      font-weight: 600;
      color: $color-second;
    }
  }
}