.hero {
  @include max-width-page;
  height: 300px;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center top;
  }

  &__contnr-delay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: inherit;
    background-color: rgba($color-primary, 0.3);
    @include max-width-page;
  }

  &__contnr-txt {
    @include max-width-contnr;
    @include contnr-center;
    height: inherit;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    font-family: $Font1;
  }

  &__title-txt {
    color: $color-white;
    margin-bottom: 24px;
    font-size: 2.5em;
  }

  &__box-nav {
    height: auto;
    width: auto;
    background-color: $color-white;
    display: block;
    padding: 20px 28px;
    font-size: .9em;
    color: $color-txt;
    border-top-left-radius: 1px;
    border-top-right-radius: 1px;
  }

  &__folder-txt {
    color: $color-primary;
  }
  &__arrow-right-icon {
    height: 10px;
  }
  
  &__active-txt {
    color: $color-second;
    font-weight: normal;
  }

}