.input-base {
  // max-width: 325px;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 2px;
  background-color: lightgray;
  color: $color-txt;
  font-size: 1em;
  padding-left: 20px;

  &-aux {
    @extend .input-base;
    width: 200px;
    height: 40px;
    border-radius: initial;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
  }
}

.input-date {
  @extend .input-base;
  display: flex;
}

.input-radio {
  @extend .input-base;
  background-color: initial;
  display: flex;
  align-items: center;
}