.navbar-info {
  @include max-width-page;
  height: 35px;
  background-color: $color-primary;

  &__contnr-into {
    @include max-width-contnr;
    @include contnr-center;
    background-color: inherit;
    height: inherit;
    display: flex;
    justify-content: space-between;
  }

  &__info-contact-basic {
    display: flex;
    align-items: center;
  }

  &__icon-contact {
    width: 16px;
    height: 16px;
    margin-right: 6px;
  }

  &__txt-info-contact {
    font-family: $Font2;
    font-size: .74em;
    color: $color-white;
    margin-right: 12px;
  }

  &__info-contact-sm {
    display: flex;
    align-items: center;
  }

  &__contnr-icon {
    height: 35px;
    width: 45px;
    @include content-center-fb;
    &:hover {
      background-color: $color-hover;
      cursor: pointer;
    }
  }

  &__icon-sm {
    @extend .navbar-info__icon-contact;
    margin: initial;
  }
}