.services {
  @include max-width-page;
  background-color: $color-white;
  height: 250px;

  &__contnr-into {
    @include max-width-contnr;
    @include contnr-center;
    @include contnt-sbtw-center;
    height: inherit;
    background-color: $color-white;
  }

  &__item {
    width: 300px;
    height: auto;
  }

  &__contnr-icon {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-color: $color-aux;
    float: left;
  }

  &__item-icon {
    width: 70%;
    height: 70%;
    object-fit: cover;
    object-position: center;
  }

  &__item-detail {
    float: right;
    width: 60%;
    height: auto;
    font-family: $Font1;
    margin-top: 16px;
  }

  &__item-title {
    font-size: 1em;
    font-weight: 500;
    color: $color-second;
    margin-bottom: 10px;
  }

  &__item-descrp {
    font-size: .95em;
    color: $color-txt;
    float: right;
  }

}